adminHeartbeat
repl
repltest
restore
restoretest
clustertest
clustertestRestore
clustertestFailover
deletefilesinrange
dts/dts
dts/dts_sync
memorylimit
versiontest

*.log
slowlog
jeprof.*
m*_*
s*_*
t*_*
predixy_*
running
src_*
dst_*
redis-sync-*
sync-*
_version_test_

gopath/
go.sum